#panel {
	padding-left: 40px;
	padding-right: 40px;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-top: 80px;
	min-height: 80vh;
}

.profile-image {
	text-align: center;
}

.profile-image img {
	max-width: 35%;
	border-radius: 50%;
	border: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-top: 15px;
}

hr.divider {
	margin: 14px auto;
	width: 80%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.td-right {
	text-align: right;
	font-weight: bolder;
}

.page-header {
	margin: 10px 10px 0;
	border-bottom: 1px solid #eee;
}

.borderless {
	margin-top: 35px;
}

.borderless>tbody>tr>td, .borderless>tbody>tr>th {
	border: none;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.nav_acc span {
	color: white;
}

.btn-input-custom {
	padding: 9px 12px;
	margin-left: 5px;
}

#user-log-label {
	margin-top: 5px;
}

.menu-drop {
	text-align: right;
}

.custom-menu-drop {
	margin-top: 25px;
}

#user-log {
	max-height: 300px;
	overflow-x: scroll;
	overflow-y: scroll;
}

#editprofile {
	margin-top: 30px;
}

#changepassword-modal, #changeimage-modal, #adduser-modal,
	#userlog-modal {
	margin-top: 30px;
}

#viewuserlogcontent {
	max-height: 300px;
	overflow: scroll;
}

.active_lbl {
	color: blue;
}

.listuser-img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.paper-header {
	padding-left: 20px;
	margin-left: -42px;
	margin-right: -42px;
	margin-top: -2px;
	height: 40px;
	border: 1px solid #d9d9d9;
	border-bottom: none;
	background: none;
	background-color: #45B6B0;
	padding-left: 20px;
	text-align: center;
}

.paper-header span {
	display: inline;
	line-height: 40px;
	font-size: 15px;
	color: #fff;
}
#list-user{
    margin-left: -40px;
    margin-right: -40px;
}
.test-rowspan-right{
	border-right: 1px solid #ddd !important;
	vertical-align: middle !important;
}
.test-rowspan-left{
	border-left: 1px solid #ddd !important;
	vertical-align: middle !important;
	text-align: center;
}
#list-user-body tr td{
	text-align: center;
	vertical-align: middle !important;
}
#list-user-head tr th{
	text-align: center;
}
.fa-download{
	font-size: 22px;
}
.xx{
	font-size: 20px;
	color: #45B6B0;
}