#plugin0{
	display: none;
}
.content{
	margin-top: 50px !important;
}
th, td {
	text-align: center !important;
	vertical-align: middle !important;
}

table {
	font-size: 11px;
}

.stock-type {
	width: 70px;
	font-weight: bold;
}

i.status {
	font-size: 20px;
	padding-left: 5px;
	position: relative;
	top: 2px;
}

i.fa-stop {
	font-size: 12px !important;
	position: relative;
	top: 0px;
	left: 1px;
}

td {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
/* The whole thing */
.custom-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #222;
	padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
	padding: 8px 12px;
	cursor: pointer;
	list-style-type: none;
}

.custom-menu li:hover {
	background-color: #DEF;
}

.menu-stock-name {
	padding-right: 50px;
}

.context-menu-icon {
	padding: 0px;
	padding-right: 10px;
	border-right: 1px solid #aaa;
	margin-right: 15px;
	width: 20px;
}

.red {
	color: red;
}

.green {
	color: #82B440;
}

.yellow {
	color: #FFAA01;
}

.td-left {
	text-align: left !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-size: 13px;
}

.td-right {
	text-align: right !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-size: 13px;
}

.form-control {
    border-radius: 1px;
    height: 25px;
    box-shadow: none !important;
    font-size: 11px;
    padding-top: 5px;
}

.tc_price_group {
	text-align: center;
}

.form_tc_price {
	padding-left: 10px;
	padding-right: 5px;
}

.vnd {
	padding-right: 25px;
}

button {
	padding: 4px 30px !important;
	border-radius: 1px !important;
	font-size: 11px !important;
}

.remove_tran {
	font-size: 16px;
	color: #B40A0A !important;
}
th{
	border-bottom-width: 1px !important;
	padding: 7px 2px !important;
}
hr{
	margin-top: 0px !important;
}
#add_tran_form{
	font-size: 11px;
}
.tc_price_group{
	font-size: 11px;
}
#record thead th{
	border-bottom-width: 2px !important;
}
.btn-success{
	background-color: #45B6B0 !important; 
	border: none !important;
}
.btn-success:HOVER{
	background-color: #3DA29D !important; 
}
#stock-market{
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
.max_price, .stock_max_price{
	color: #F791D2;
}
.min_price, .stock_min_price{
	color: #1BAFE2;	
}
.tc_price, .stock_tc_price{
	color: #FFFF00;
}
.stock_green{
	color: #0BFF09;
}
.stock_red{
	color: red;
}
.referen{
	background-color: #5f5f5f;
}
#list-user-body tr td{
	font-size: 13px !important;
}